:root {
  --color-primary: #9b604d;
  --color-secondary: #fee4a2
  --color-secondary-deep: #f3db9e
  --color-primary-light: #b5b1b1
  --color-text: #632527
  --color-border: #c6a787
}
h2
  padding: 0;
  margin: 0;

.c-title
  color var(--color-text)
.c-text
  color var(--color-text)


